@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Canada Election 2019</h1>
    <p>To learn more about which party best represents your views, visit <a href="https://votecompass.cbc.ca/canada/" target="_blank">the 2019 Vote Compass</a>.</p>
    <p>You can vote on campus on the first floor of C Building.</p>
</div>
